*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif';
}
body {
    min-height: 100vh; /* Ensure body takes up the full height of the viewport */
    background-color: black; /* Maintain the black background */
    display: flex; /* Allow stacking of sections */
    flex-direction: column;
}
body .index-page{
    min-height: 100vh;
   /* background-color: rgb(37, 37, 37);*/
    background-color: black;
    background-size: cover;
    background-position: center;
    flex: 1;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
    /*border-bottom: 1px solid #e6e5e5;*/
}
.logo .logo-name{
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    font-family: monospace;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.navbar span{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: monospace;
}
.navbar a{
    color: #ff0000;
    font-size: 18px;
    font-weight: 700;
    margin-right: 30px;
    font-family: monospace;
}
body .welcome-text{
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 130px;
}
body h1{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    width: 100%;
}
.banner{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: -150px;
    background-color: rgba(37, 37, 37, 0.594);

}
.banner .banner-text{
    color: #fff;
    display: flex;
    animation: scroll-banner 15s linear infinite;
}
.banner .banner-text li {
    padding-right: 70px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes scroll-banner{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.choose-mood, .songs {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.choose-mood .moods, .songs .songs-section{
    display: block;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.436);
    border-radius: 12px;
    border: 1px solid rgb(37, 37, 37);
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}
.moods .text,.songs-section .songs-board .text{
    text-align: center;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.moods .text h3, .songs-board .text h3{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.moods .mood-boxes{
       
}
.mood-boxes .row-one, .mood-boxes .row-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 15px;
}
.row-one .box, .row-two .box{
    width: calc(98%/4 - 15px);
    border-radius: 12px;
    border: 1px solid rgb(37, 37, 37);
    height: 100%;
    align-items: center;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    position: relative;
    justify-content: space-around;
    background-color: rgba(60, 59, 59, 0.187);
    cursor: pointer;

}
.box.selected {
    background-color: #a21717; /* Or your desired color */
    border-color: #333;
  }
.box:hover{
    transform: scale(1.1);
    background-color: #a21717; /* Or your desired color */
    z-index: 2;
    box-shadow: 1px 1px 1px #cf23cf;
}
.box .emoji .emo{
    font-size: 50px;
}
.box .mood-text{
    padding: 15px;
}
.box .mood-text span {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mood-boxes .row-three .filter-text{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
}
.filter-text i, .filter-boxes i{
    font-size: 35px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cf23cf;
}
.filter-text span, .filter-boxes span{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row-three .filter-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 15px;
}
.filter-boxes .box2{
    width: calc(98%/2 - 15px);
    height: 100%;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 12px;
    display: block;
    padding: 20px;
}
.box2 .box-header{
    display: flex;
    align-items: center;
}
.filter-boxes .span{
    font-size: 18px;
}
.box2 .dropdown{
    padding: 20px;
    position: relative;
    width: 470px;
    margin-bottom: -20px;
}
.dropdown .search-box{
    width: 100%;
    padding: 18px;
    margin-bottom: 18px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    background-color: rgba(60, 59, 59, 0.187);
}
.dropdown, .selected-artist {
    position: relative;
    width: 100%; 
    max-width: 470px;
    padding: 20px;
    font-family: 'Poppins, sans-serif';
}

.search-box, .box2 .selected-artist div{
    width: 100%;
    padding: 18px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    background-color: rgba(60, 59, 59, 0.187);
    color: #fff;
    font-size: 16px;
    outline: none;
    font-family: 'Poppins, sans-serif';
    text-align: left;
}

.search-box::placeholder {
    color: #aaa;
    font-style: italic;
}

.artist-list{
    position: absolute;
    top: calc(100% -50px);
    margin-top: -20px;
    width: 91%;
    background-color: rgba(37, 37, 37, 0.8);
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
   /** position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.8);
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;*/
}
option{
    position: absolute;
    top: calc(100% -50px);
    margin-top: -20px;
    width: 91%;
    background-color: rgba(37, 37, 37, 0.8);
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
.artist-list li {
    padding: 15px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
}
.artist-list li div, .selected-artist div{
    display: flex;
    height: 20px;
    height: 100%;
    align-items: center;
    color: #fff;
}
.artist-list li div img, .selected-artist img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.artist-list li div span, .selected-artist span{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: monospace;
    color: #fff;
}

.artist-list li:hover {
    background-color: rgba(60, 59, 59, 0.5);
}

.artist-list li:active {
    background-color: rgba(81, 79, 79, 0.265);
    color: #fff;
}

.selected-artist img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.mood-boxes .row-four{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row-four .submit{
    margin: 35px;
    padding: 18px;
    color: #fff;
}
.submit button{
    color: #fff;
    width: 300px;
    height: 90px;
    font-size: 20px;
    border: 1px solid #cf23cf;
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}
.songs-section{
}
.songs .songs-section .songs-board .songs-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Space between the boxes */
    color: #fff;
    justify-items: center;
    text-decoration: none;
}
.songs-boxes .card{
    text-decoration: none;
    background-color: rgba(60, 59, 59, 0.187);
    display: flex;
    flex-direction: column;
    width: 13rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
}
.card .song-text{
    text-decoration: none;
    color: white;
    margin-top: 1rem;
    line-height: 1;
}
.song-text h2{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.song-text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
}
.card .play-icon{
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(10px);
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.4));
    opacity: 0;
    transform: all 0.4s;

}
.card:hover .play-icon{
    opacity: 1;
    transform: translateY(10px);
}
.card:hover{
    background-color: #222;
}
.card .play-icon .circle{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: rgb(50, 233,50);
    display: grid;
    place-items: center;
    transform: scale(0.95);
    cursor: pointer;
}
.circle .triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 18px solid black; 
    transform: rotate(90deg);
    margin-left: 0.2rem;
    cursor: pointer;
}
.card .play-icon:hover .circle{
    cursor: auto;
    transform: scale(1);
}
.footer{
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(37, 37, 37, 0.358);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
    color: gray;
}
.footer p{
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.footer div {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: large;
    font-weight: 500;
}
div a{
    margin: 5px;
    font-weight: 800;
}
div a i{
    font-size: 25px;
}
