<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"> 
        <title>FeelPhonic</title>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="#" class="logo-name">🎧FeelPhonic</a>
            </div>
            <nav class="navbar">
                <span>Made by </span>
                <a href="#" class="link">Lwazi</a>
            </nav>
        </header>
        <div class="index-page">
            <div class="welcome-text">
                <h1>Find the Perfect Soundtrack for Every Moment</h1>
            </div>
        </div>
        <div class="banner">
            <ul class="banner-text">
                <li>Chill <span class="emoji">😎</span></li>
                <li>Nostalgic <span class="emoji">🤔</span></li>
                <li>Romantic<span class="emoji">🌹</span></li>
                <li>Heartbreak<span class="emoji">💔</span></li>
                <li>Inspired<span class="emoji">🤩</span></li>
                <li>Sad<span class="emoji">🥹</span></li>
                <li>Happy<span class="emoji">😁</span></li>
                <li>Focused <span class="emoji">🤓</span></li>
                <li>Sleepy <span class="emoji">😴</span></li>
            </ul>
        </div>
        <div class="choose-mood">
            <div class="moods">
                <div class="text">
                    <h3>Choose Your Mood</h3>
                </div>
                <div class="mood-boxes">
                    <div class="row-one">
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">💔</span>
                            </div>
                            <div class="mood-text">
                                <span>Heartbreak</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">💖</span>
                            </div>
                            <div class="mood-text">
                                <span>Romantic</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">😎</span>
                            </div>
                            <div class="mood-text">
                                <span>Chill</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">🤔</span>
                            </div>
                            <div class="mood-text">
                                <span>Nostalgic</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-two">
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">🤓</span>
                            </div>
                            <div class="mood-text">
                                <span>Focused</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">🥲</span>
                            </div>
                            <div class="mood-text">
                                <span>Sad</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">😁</span>
                            </div>
                            <div class="mood-text">
                                <span>Happy</span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="emoji">
                                <span class="emo">😴</span>
                            </div>
                            <div class="mood-text">
                                <span>Sleepy</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-three">
                        <div class="filter-text">
                            <i class="uil uil-sliders-v-alt"></i>
                            <span>Filter By Artist or Genre (Optional)</span>
                        </div>
                        <div class="filter-boxes">
                          <!--  <i class="uil uil-music-note"></i>
                            <i class="uil uil-user"></i>-->
                            <div class="box2">
                                <div class="box-header">
                                    <i class="uil uil-user"></i>
                                    <span>Artist</span>
                                </div>
                                <div class="dropdown">
                                    <input type="text" class="search-box" placeholder="Search for artist..." id="artistSearch" oninput="filterDropdown()">
                                    <ul class="artist-list" id="artistList">
                                        <li>The Weeknd</li>
                                        <li>Drake</li>
                                        <li>Post Malone</li>
                                        <li>Ed Sheeran</li>
                                        <li>Adele</li>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="box2">
                                <div class="box-header">
                                    <i class="uil uil-music-note"></i>
                                    <span>Genre</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>